/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
}

body {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: #fff;
}

.calendar_wrapper__ {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background: transparent;
}
.calendar_wrapper__ .calendar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 35px;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid rgba(4, 7, 64, 0.1);
  margin-bottom: 20px;
}
.calendar_wrapper__ .calendar_header .calender_next_prev_month_button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
}
.calendar_wrapper__ .calendar_header .calender_next_prev_month_button::after {
  content: "\f054";
  font-weight: 900;
  font-size: 12px;
  color: #000;
  font: var(--fa-font-solid);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calendar_wrapper__ .calendar_header .calender_next_prev_month_button#prev::after {
  content: "\f053";
}
.calendar_wrapper__ .calendar_body #weeks_wrapper__ {
  margin-bottom: 15px;
}
.calendar_wrapper__ .calendar_body ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
}
.calendar_wrapper__ .calendar_body li {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: calc(14.2857142857% - 5px);
}
.calendar_wrapper__ .calendar_body a {
  background-color: #f7f7f7;
  border-radius: 8px;
  min-height: 100px;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #040740;
}
.calendar_wrapper__ .calendar_body .other_months_days a {
  color: #9a9a9a !important;
}
.calendar_wrapper__ .calendar_body .other_months_days a .icon__ {
  filter: grayscale(9);
  opacity: 0.6;
}
.calendar_wrapper__ .calendar_body .other_months_days a .title__ {
  color: #9a9a9a !important;
}
.calendar_wrapper__ .calendar_body .day_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  gap: 7px;
}
.calendar_wrapper__ .calendar_body .day_block .icon__,
.calendar_wrapper__ .calendar_body .day_block .title__ {
  display: none;
}
.calendar_wrapper__ .calendar_body .day_block .icon__ {
  max-width: 24px;
  max-height: 24px;
  margin: 0 auto;
}
.calendar_wrapper__ .calendar_body .day_block .title__ {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.calendar_wrapper__ .calendar_body .day_block.rating_done .icon__,
.calendar_wrapper__ .calendar_body .day_block.rating_done .title__ {
  display: block;
}
.calendar_wrapper__ .calendar_body .day_block.rating_done .title__ {
  color: #e48403;
}
.calendar_wrapper__ .calendar_body .day_block.closed_day .icon__,
.calendar_wrapper__ .calendar_body .day_block.closed_day .title__ {
  display: block;
}
.calendar_wrapper__ .calendar_body .day_block.closed_day .title__ {
  color: #f40004;
}